*.xlsx
*.pdf
*.pt
*.pkl
*.json
*.txt
*.jsonl
*.out
*.pth
*.npy
*.csv
*.tsv
*.ckpt
*.emb
*.pred
*.zip
*.log
*.gz
*.ps
*.PS
*.Z
*.z
models/enhancer/ENGINE/datasets
models/enhancer/giant-xrt/proc_data_xrt
models/alignment/GLEM/temp
models/alignment/GLEM/temp_results
models/enhancer/TAPE/output
models/predictor/GraphText/output
models/predictor/GraphText/data_cache